.card {
  position: relative;
  display: grid;
  justify-items: center;
  border-radius: 15px;
  padding: 15px 20px;
  background: var(--cor-cinza-escuro) ;
  color: var(--cor-secundaria) ;
  font-family: 'Assistant', sans-serif;
  z-index: 1;
  overflow: hidden;
  box-shadow: 10px 10px 15px var(--cor-preto);
  transition: all 0.3s ease;
  height: 380px;
}

.menor{
  .dados{
    margin-top: 25px;
    margin-bottom: 25px;
    height: 100px;
  }
}

/* Borda degradê animada */
.card::before {
  content: "";
  position: absolute;
  inset: 0; /* cobre todo o elemento */
  border-radius: 15px; 
  padding: 2px; /* espessura da borda */
  background: linear-gradient(270deg, #F0E1FB, #36A0F7, #EFC6FF, #4BF8D6);
  background-size: 400% 400%; /* maior pra dar efeito de movimento */

  /* truque para mostrar só a borda */
  -webkit-mask:
    linear-gradient( var(--cor-secundaria) 0 0) content-box,
    linear-gradient( var(--cor-secundaria) 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: -1;
}

.card.infinity::before {
  content: "";
  padding: 5px; /* espessura da borda */
  background: linear-gradient(270deg, #FFF20C,#FF4719, #FFF20C, #DF5600, #FEF606,#DF5600, #FEF606);
  background-size: 400% 400%; /* maior pra dar efeito de movimento */
  animation: borderMove 8s linear infinite; /* animação rodando */
}


/* Animação do degradê */
@keyframes borderMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.assinar{
    display: flex;
    align-items: center;
    height: 40px;
    border-radius: 10px;
    padding: 0px 15px;
    text-decoration: none;
    font-family: 'Assistant', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color:var(--cor-secundaria) ;
    background: linear-gradient(to right,var(--cor-laranja-escuro), var(--cor-laranja-claro));
    transition: transform 0.5s ease,box-shadow 0.3s ease;;
}

.assinar:hover{
  transform: scale(1.03);
  box-shadow: 0 0 10px var(--cor-laranja-escuro);
}

.card:hover{
  transform: scale(1.04);
}

.plano{
  font-weight: 700;
}

.extras{
  display: grid;
  justify-items: center;
  gap: 5px;
  margin-bottom: 15px;
}

.velovidade{
  font-weight: 700;
  font-size: 60px;
}

.megas{
  font-weight: 300; 
  font-size: 20px;
  margin-top: -15px;
  margin-bottom: 10px;
}

.dados{
  display: grid;
  height: 150px;
  justify-items: center;
  gap: 5px;
  font-family: 'Fira Sans', sans-serif;
  font-size: 14px;
  font-weight: 400; 
  color: var(--cor-texto-escuro) ;
  span{
    display: flex;
    align-items: center;
    gap: 10px;
  }
}

.valor{
  margin-top: 25px;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 200;
  font-size: 30px;
  background: linear-gradient(90deg, var(--cor-laranja-claro) , var(--cor-laranja-escuro));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.mes{
  font-family: 'Fira Sans', sans-serif;
  font-weight: 200; 
  font-size: 10px;
}