.contenteinicio {
  position: relative;
  width: 100%;
  height: 600px;
}

.contentetexto{
    position: absolute;
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 200; /* pode variar: 300, 400, 600 */
    font-size: 34px;
    color: var(--cor-primaria);
    z-index: 100;
    margin-top: 130px;
}

.inicio{
    width: 77vw;
    display: grid;
    gap: 20px;
    justify-content: center;
    align-items: end;
}

.inittitle{
    font-family: 'Assistant', sans-serif;
    font-weight: 700;
    font-size:  clamp(50px, 5vw, 9999px);
}

.frase{
   text-align: justify;
   font-size: clamp(30px, 2.3vw, 9999px);
}

strong{
  font-weight: 700;
  background: linear-gradient(90deg, var(--cor-laranja-escuro), var(--cor-laranja-claro));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.nossoplano{
    font-size: 19px;
    font-weight: 700;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: var(--cor-secundaria);
    background: linear-gradient(to right,var(--cor-laranja-escuro), var(--cor-laranja-claro));
    transition: transform 0.5s ease,box-shadow 0.3s ease;;
}

.nossoplano:hover{
  transform: scale(1.1);
  box-shadow: 0 0 10px var(--cor-laranja-escuro);
}


@media (max-width: 760px) {
  .inicio{
    display: grid;
  }
}


@media (max-width: 420px){
  .contenteinicio{
    width: 100vw;   /* largura total da tela */
    height: 100vh;  /* altura total da tela */
  }
}