.contentePlanos{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--cor-primaria);
  background-image: url('../Img/bg img.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px;
}

.planos{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
